body {
    background: url("../images/food.png");
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

#title {
    font-family: 'Boogaloo', serif;
    font-size: 80px;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
}

#instruction,
#game-play {
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

.btn-primary, .reset {
    background-color: #4b2383;
    color: white;
    padding: 10px;
}

.btn-primary:hover, .reset:hover {
    background-color: #8941ee;
}

#startOverBtn {
    margin: auto;
    width: 200px;
}

.thisChoice {
    margin: auto;
    width: 300px;
}

.thisChoice:hover {
    background-color: #4b2383;
    color: white;
    padding: 10px;
}

#image {
    margin: 20px;
}