body {
    background: url("../images/food.png");
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

#title {
    font-family: 'Boogaloo', serif;
    font-size: 80px;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
}

